@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  /* background Colors */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* font colors */
  --font-clr-primary: hsla(0, 0%, 100%, 0.75);

  --very-light-gray: hsl(0, 0%, 95%);

  /* font family */
  --font-primary: "Lexend Deca", sans-serif;
  --font-accent: "Big Shoulders Display", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--very-light-gray);
  font-family: var(--font-primary);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  padding-block: 5.5rem;
  display: flex;
}

a,
a:active {
  text-decoration: none;
}

.container {
  width: 20.3125rem;
  margin: auto;
  overflow: hidden;
  border-radius: 0.5rem;
}

.card {
  padding: 2.75rem;
}

h1,
.card-heading {
  color: var(--very-light-gray);
  font-family: var(--font-accent);
  margin-block: 2.5rem;
  font-weight: 700;
}

.card-text {
  color: var(--font-clr-primary);
  width: 14.0625rem;
  margin-bottom: 1.5625rem;
}

.container .sedan {
  background-color: var(--bright-orange);
  color: var(--bright-orange);
}

.container .suv {
  background-color: var(--dark-cyan);
  color: var(--dark-cyan);
}

.container .luxury {
  background-color: var(--very-dark-cyan);
  color: var(--very-dark-cyan);
}

.container .btn {
  display: inline-block;
  background-color: var(--very-light-gray);
  width: 9.375rem;
  color: inherit;
  text-align: center;
  padding-block: 1rem;
  border-radius: 2rem;
  transition: all 300ms ease-in;
}

.container .btn:hover {
  box-sizing: border-box;
  background-color: transparent;
  color: var(--font-clr-primary);
  outline: 0.125rem solid var(--very-light-gray);
}

.attribution {
    display: none;
}




/* TABLET SCREEN */
@media (min-width: 530px) and (max-width: 921px) {
  .container {
    width: 70%;
    max-width: 57.5rem;
    font-size: 110%;
  }
  .card {
    padding: 12%;
  }

  .card-icon {
    width: 30%;
    height: 30%;
  }

  .card-text {
    margin-bottom: 10%;
    width: 16rem;
  }
}

/* DESKTOP SCREEN */
@media (min-width: 928px) {
  .container {
    display: flex;
    /* width: 57.5rem; */
    width: min-content;
  }

  .card {
    padding: 3rem;
  }

  .card-text {
    margin-bottom: 5.3125rem;
    width: 13.125rem;
  }

  .attribution {
    display: block;
    position: absolute;
    left: 40%;
    margin: 1rem;
    bottom: 1rem;
    font-size: 0.7rem;
  }

  .attribution a {
    color: hsl(228, 94%, 51%);
  }
  .attribution a:hover {
    text-decoration: underline;
  }
}
